body{

    background:#222;

    color:white;
}

.carousel-container{

    position:relative;

    overflow:hidden;

    height:500px;
}

.slide{

    height:500px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:5rem;

    font-weight:bold;

    background:#d35400;
}

.arrow{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    font-size:3rem;

    cursor:pointer;
}

.left{

    left:20px;
}

.right{

    right:20px;
}

.section-title{

    font-size:4rem;

    margin:40px 80px;
}

.movies{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

    padding:0 80px 80px;
}

.movie-card{

    background:#444;

    padding:15px;
}

.poster{

    height:350px;

    background:#d35400;
}

.movie-title{

    margin-top:15px;
}

.genre{

    margin-top:10px;

    color:#ccc;
}

.view-btn{

    display:block;

    margin-top:15px;

    background:#ff6600;

    color:white;

    text-decoration:none;

    text-align:center;

    padding:10px;
}

footer{

    background:#111;

    text-align:center;

    padding:20px;
}